body {
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

form {
    padding: 15px;
    background-color: lightblue;
    border-radius: 5px;
}